/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}*/
.logoIcon {
  height: 36px;
}

.logo-image {
  height: 35vh;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bg-gradient-info {
  background: linear-gradient(87deg,#11cdef,#1171ef) !important;
}

.bg-gradient-info h1 {
  color: #eaecec;
}

.mt-30px {
  margin-top: 30px !important;
}