.card-pokemon-info {
  margin-top: 90px;
}

.pokemon-img {
  max-width: 180px;
  background-color: #fafafa;
  border-radius: .375rem;
  -webkit-transform: translate(-50%,-60%);
  transform: translate(-50%,-60%);
  position: absolute;
  left: 50%;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.characteristics {
  text-align: center;
  padding: 1rem 0;
  margin-top: 70px;
}

.characteristics .heading {
  font-size: 1.1rem;
  font-weight: 700;
}

.characteristics .description {
  font-size: .875rem;
  color: #adb5bd;
}

.heading-characteristics-body {
  font-weight: 700;
  margin-top: 5px;
}