.pokedexBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.pokedexItem {
  width: 100px;
  height: 150px;
  margin: auto;
  position: relative;
}

.pokedexItem img {
  max-height: 120px;
}

.pokedexItem a {
  position: absolute;
  bottom: 0;
}